<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Management System</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/admindashboard">Admin Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Newsfeed</a>
          </li>
        </ul>

        <form class="d-flex" method="POST" action="/" novalidate>
          <input class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>

      </div>
    </div>
  </nav>
    <div class="foryou-weekly">
        <button onclick="location.href='/adminusers';"><b class="users">Users</b></button>
        <button onclick="location.href='/admincontent';"><b class="content">Content</b></button>
        <button onclick="location.href='/admindashboard';">Mashup</b></button>
    </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Mashup Id</th>
        <th scope="col">User Posted</th>
        <th scope="col">Date Posted</th>
        <th scope="col">Mashup Title</th>
        <th scope="col">Path</th>
        <th scope="col">Reactions</th>
        <th scope="col">Mashup Status</th>
        <th scope="col">Mashup Flagged</th>
      </tr>
    </thead>
    <tbody>

      <div class="view-user p-5">
        {{#each content}}
        <tr>
          <td>{{this.mashupId}}</td>
          <td>{{this.userPosted}}</td>
          <td>{{this.datePosted}}</td>
          <td>{{this.mashupTitle}}</td>
          <td>{{this.path}}</td>
          <td>{{this.reactions}}</td>
          <td>{{this.mashupStatus}}</td>
          <td>{{this.mashupFlagged}}</td>
          <td class="text-end">
            <a href="/admineditmashup/{{this.mashupId}}" type="button" class="btn btn-light btn-small"><i class="bi bi-eye"></i>
              View</a>
          </td>
        </tr>
    </tbody>
    {{/each}}
    </div>
    </tbody>
  </table>

</body>

</html>
