<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsfeed | Mashbook</title>
    <link rel="stylesheet" href="/newsfeed_style.css">
    <link rel="icon" href="/images/favi.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;600&family=Libre+Baskerville&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar">
        <div class="nav-wrapper">
            <img src="/images/logograd.PNG" class="brand-img" alt="">
            <div class="nav-items">

                <button onclick="location.href='/newsfeed';" class = "icon"><img src="/images/home.PNG" class="icon" alt=""></button>
                <button onclick="location.href='/post';" class="icon"><img src="/images/add.PNG" class="icon" alt=""></button>
                <button onclick="openNav();" class="icon"><img src="/images/option.PNG" class="icon" alt=""></button>
                <button onclick="location.href='/profile';" class="icon user-profile"></button>

            </div>
        </div>
    </nav>

    <div id="mySidenav" class="sidenav">
        <b>{{this.username}}</b>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a onclick="goDark();">Dark Mode</a>
        <a href="#">Edit Profile</a>
        <a href="#">Liked Posts</a>
        <a href="#">Privacy</a>
        <a href="#">Security</a>
        <a href="#">Help</a>
        <a href="/website/index.html">About</a>
        <a href="/logout">Log Out</a>
    </div>
    <script>
        /* Set the width of the side navigation to 250px */
        function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        }

        /* Set the width of the side navigation to 0 */
        function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        }

        function goDark() {
        var element = document.body;
        // element.classList.toggle("dark");
        // var element2 = document.navbar;
        // element2.classList.toggle("navbarDark");
        element.classList.toggle("dark-theme");
      }
    </script>

    <div class="foryou-weekly">
        <button onclick=""><b class="foryou">For You</b></button>
        <button onclick=""><b class="foryou">|</b></button>
        <button onclick="location.href='/mashup';"><b class="weekly">Weekly</b></button>
    </div>


    {{#each content}}

    <section class="main">
        <div class="wrapper">
            <div class="post">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic"><img src="/images/profile-pic.png" alt=""></div>
                        <p class="username">{{this.userPosted}}</p>
                    </div>
                    <div class="dropdown" style="float: right;">
                        <button class="dropbtn"><img src="/images/option.PNG" class="options" alt=""></button>
                        <div class="dropdown-content">
                             <a href="/gallery/{{this.mashupId}}">Gallery</a>
                            <a href="/reportcontent/{{this.contentId}}">Report</a>
                        </div>
                    </div>
                </div>
                <div class="post-imgcont">
                    <img src="/{{this.path}}" class="post-image" alt="">
                    <a href="/gallery/{{this.mashupId}}">
                        <div class="post-mashes">
                            <div class="post-mash-container">
                            <img src="/{{this.path}}" class="post-mash" alt="">
                            </div>
                            <div class="post-mash-container">
                            <img src="/{{this.path}}" class="post-mash" alt="">
                            </div>
                            <div class="post-mash-container">
                            <img src="/{{this.path}}" class="post-mash" alt="">
                            </div>
                            <div class="post-mash-container">
                            <img src="/{{this.path}}" class="post-mash" alt="">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="post-content">
                    <div class="reaction-wrapper">
                        <button onclick="location.href='/likemashup/{{this.mashupId}}';"><img src="/images/like.PNG" class="icon" alt=""></button>
                        <button onclick="location.href='/onemashup/{{this.mashupId}}';"><img src="/images/comment.PNG" class="icon" alt=""></button>
                        <button onclick="location.href='/addtomashup/{{this.mashupId}}';"><img src="/images/paint.PNG" class="right icon" alt=""></button>
                    </div>
                    <p class="title">{{this.mashupTitle}}</p>
                    <p class="likes">{{this.reactions}} likes</p>
                    <p class="description">{{this.userPosted}}: {{this.mashupDescription}}</p>
                    <p class="post-time">{{this.datePosted}}</p>


                </div>
                <div class="comment-wrapper">

                    <form method="POST" action="/postCommentMashup/{{this.mashupId}}" enctype="multipart/form-data" class="comment-wrapper">
                        <input type="text" name="comment" class="comment-box" placeholder="Add a comment">
                        <button class="comment-btn">post</button>
                    </form>
                </div>

            </div>
        </div>
    </section>
    {{/each}}

</body>

</html>
